<template>
  <div class="col-12">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Card ID</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="log in logs">
          <td>{{log.timestamp}}</td>
          <td>{{log.id}}</td>
          <td :class="{'text-success': log.status === 'Success', 'text-danger': log.status ==='Denied'}">{{log.status}}</td>
        </tr>
        <tr v-if="logs.length === 0"><td colspan="3">No logs yet, start scanning!</td></tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'log',
    props: ['logs']
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
