<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <b-link :to="{name:'home'}" class="navbar-brand">Access Control</b-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <b-link :to="{name:'status'}" tag="li" active-class='nav-item active'><a class='nav-link'>Status</a></b-link>
        <b-link :to="{name:'log'}" tag="li" active-class='nav-item active'><a
          class='nav-link'>Log</a></b-link>
        <b-link :to="{name:'settings'}" tag="li" active-class='nav-item active'><a class='nav-link'>Settings</a>
        </b-link>
      </ul>
      <span class="badge float-right" :class="{'badge-success': connectionStatus, 'badge-danger': !connectionStatus }">{{statusMessage}}</span>
    </div>
  </nav>
</template>
<script>
  import {EventBus} from '../event-bus/bus'
  import moment from 'moment'

  export default {
    name: 'navigation',
    data () {
      return {
        connectionStatus: false,
        lastHeartBeat: null
      }
    },
    methods: {
      checkConnectionStatus () {
        if (this.lastHeartBeat === null) {
          this.connectionStatus = false
          return
        }
        if (moment().diff(this.lastHeartBeat, 'seconds') > 5) {
          this.connectionStatus = false
        }
      }
    },
    computed: {
      statusMessage: function () {
        if (this.connectionStatus) {
          return 'Connected'
        }
        return 'Disconnected'
      }
    },
    mounted () {
      setInterval(() => {
        this.checkConnectionStatus()
      }, 1000)
      EventBus.$on('up', (message) => {
        this.connectionStatus = true
        this.lastHeartBeat = moment()
      })
    }
  }
</script>
<style></style>
