<template>
  <div class="col-12">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header" style="background-color:#212529">Card</div>
      <div class="card-body" style="background-color:#212529">
        <form>
          <div class="form-group">
            <label for="cardId">Card ID:</label>
            <input id="cardId" type="text" class="form-control" v-model="cardId"/>
          </div>
          <button type="button" class="btn btn-primary" @click.prevent="add">Add</button>
          <button type="button" class="btn btn-danger" @click.prevent="remove">Remove</button>
        </form>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-header" style="background-color:#212529">Reset Memory</div>
      <div class="card-body" style="background-color:#212529">
        <p class="card-text">This will reset the EEPROM, and remove all registered cards.</p>
        <form>
          <button type="button" class="btn btn-danger" @click.prevent="reset">Reset</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import mqtt from 'mqtt'
  let client = mqtt.connect('mqtts://dccdbecb:402f8e6c39c9f4a9@broker.shiftr.io', {
    clientId: 'javascript-publisher'
  })

  export default {
    name: 'settings',
    data () {
      return {
        'cardId': ''
      }
    },
    methods: {
      add () {
        client.publish('/add', this.cardId.replace(/:/gi, ''))
        this.cardId = ''
      },
      remove () {
        client.publish('/remove', this.cardId.replace(/:/gi, ''))
        this.cardId = ''
      },
      reset () {
        client.publish('/reset', '1')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
