<template>
  <div class="col-12">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">Repository</h4>
        <p class="card-text">M'n code is volledig opgekuist en verdeeld over verschillende files. De repository staat nu public voor het examen.</p>
        <a href="https://bitbucket.org/brent265/embedded-systems-frontend/src/27ee584895f3452adf40101466ab9431df60ccb5/RFIDReader/?at=master" class="card-link">Repository</a>
      </div>
      <div class="card-footer" style="background-color:#212529">14/01/2018</div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">Access Granted</h4>
        <p class="card-text">Het is gelukt om ID's op te slagen in het EEPROM van de NodeMCU, zodat de 'toegestane' ID's opgeslagen blijven indien het systeem zou uitvallen.
        Om dit gemakkelijk te beheren is er een settings pagina toegevoegd.</p>
      </div>
      <div class="card-footer" style="background-color:#212529">15/12/2017</div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">ESP8266 - NFC Reader</h4>
        <img src="../assets/statuslog2.jpg" class="card-img" style="width:200px;"/>
        <p class="card-text">Vandaag heb ik een nieuwe NodeMCU aangekregen die al lang onderweg was uit China. Deze heeft een veel stabielere Wifi connectie.
        Het swappen van de NodeMCU's werkte perfect. Het is nu ook mogelijk om te zien op de website of de NodeMCU geconnecteerd is.</p>
      </div>
      <div class="card-footer" style="background-color:#212529">6/12/2017</div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">ESP8266 - NFC Reader</h4>
        <img src="../assets/statuslog3.jpg" class="card-img" style="width:200px;"/>
        <p class="card-text">Aangezien documentatie van de ESP8266 (NodeMCU) nogal beperkt is, is het een enorme zoektocht geweest om de RC522(RFID Reader) te wiren met de NodeMCU.
          Het is uiteindelijk gelukt, maar de WiFi connectie is niet super stabiel.
          Op de log pagina krijg je bij elke swipe van een kaart of sleutelhanger de ID te zien, dit gebeurt realtime.
        </p>
      </div>
      <div class="card-footer" style="background-color:#212529">1/12/2017</div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">Log pagina</h4>
        <p class="card-text">Log pagina aangemaakt, waar gekeken kan worden naar de access logs.</p>
      </div>
      <div class="card-footer" style="background-color:#212529">24/11/2017</div>
    </div>

    <div class="card text-white bg-dark mb-3">
      <div class="card-body" style="background-color:#212529">
        <h4 class="card-title">NFC Reader</h4>
        <img src="../assets/statuslog1.png" class="card-img" style="width:100px;"/>
        <p class="card-text">Ik heb de NFC Reader aangekregen samen met access kaarten en sleutelhangers. Het lezen van de chips heb ik getest op een Arduino Uno en dit werkt perfect.
        Het wiren hiervan was simpel, aangezien er ruime documentatie aanwezig was.
        </p>
      </div>
      <div class="card-footer" style="background-color:#212529">16/11/2017</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'status'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
