<template>
  <div id="app">
    <div class="container">
      <navigation></navigation>
      <transition name="component-fade" mode="out-in">
        <router-view :logs="this.logs"></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
  import Navigation from './components/Navigation'
  import {EventBus} from './event-bus/bus'
  import mqtt from 'mqtt'
  import moment from 'moment'

  export default {
    name: 'app',
    components: {
      'Navigation': Navigation
    },
    data () {
      return {
        logs: []
      }
    },
    mounted: function () {
      let client = mqtt.connect('mqtts://81d015f1:405fdc793a4eaad1@broker.shiftr.io', {
        clientId: 'javascript'
      })

      client.on('connect', () => {
        client.subscribe('/log')
        client.subscribe('/up')
      })

      client.on('message', (topic, message) => {
        if (topic === '/log') {
          let split = message.toString().split('-')
          let state = split[1]
          let statusText = (state === '1' ? 'Success' : 'Denied')
          let id = split[0].match(/.{1,2}/g).join(':').toUpperCase()
          this.logs.unshift({
            timestamp: moment().format('D-MM-YYYY HH:mm:ss'),
            id: id,
            status: statusText
          })
        }
        if (topic === '/up') {
          EventBus.$emit('up', message.toString())
        }
      })
    }
  }
</script>

<style>
  body {
    overflow-y: scroll;
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .2s ease;
  }
  .component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
